@use '../util' as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--ff-primary);
  background-color: hsl(var(--clr-blue-850));
  color: hsl(var(--clr-white));
  padding: rem(32);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: rem(1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
