@use '../util' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;

  &-primary {
    background-color: var(--clr-primary);
    color: hsl(var(--clr-white));
    height: rem(50);
    width: rem(140);
    font-family: inherit;
    font-size: rem(16);
    font-weight: 700;
    line-height: 125%;
    border-radius: rem(25);
  }

  &-settings {
    margin: auto;
  }

  &-round {
    height: rem(40);
    width: rem(40);
    border-radius: rem(20);
    background-color: hsl(var(--clr-blue-50));
    color: hsl(var(--clr-blue-850) / 0.75);

    &.active {
      background-color: hsl(var(--clr-blue-950));
      color: hsl(var(--clr-white));
    }

    &.kumbh,
    &.roboto,
    &.space {
      font-size: rem(16);
      line-height: 125%;
    }

    &.kumbh {
      font-family: 'Kumbh Sans', sans-serif;
      font-weight: 700;
    }

    &.roboto {
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
    }

    &.space {
      font-family: 'Space Mono', monospace;
      font-weight: 700;
    }

    &.red {
      background-color: hsl(var(--clr-red));
    }

    &.cyan {
      background-color: hsl(var(--clr-cyan));
    }

    &.purple {
      background-color: hsl(var(--clr-purple));
    }
  }
}
