@use '../util' as *;

.header {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(40);
  text-align: center;
  margin-block-end: rem(47);
  margin-inline: auto;
  width: 100%;
  max-width: rem(380);

  &__logo {
    display: flex;
    align-items: flex-end;
    height: rem(30);

    svg {
      display: block;
      max-width: 100%;
      height: rem(24);
      width: rem(109);
      margin-inline: auto;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--clr-blue-900));
    height: rem(59);
    border-radius: rem(31.5);
  }
}
