@use '../util' as *;

.header {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(40);
  text-align: center;
  margin-inline: auto;
  padding-block-start: rem(32);
  padding-inline: rem(30);
  width: 100%;
  max-width: rem(380);

  &__logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: rem(30);

    h1 {
      font-size: rem(24);
      font-family: 'Kumbh Sans', sans-serif;
      font-weight: 700;
      color: hsl(var(--clr-blue-100));
      text-transform: lowercase;
    }

    svg {
      display: block;
      max-width: 100%;
      height: rem(24);
      width: rem(109);
      margin-inline: auto;
    }

    @include breakpoint(tablet) {
      height: rem(40);
      h1 {
        font-size: rem(32);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--clr-blue-900));
    height: rem(63);
    border-radius: rem(31.5);
    padding: rem(7.5) 0;
  }

  @include breakpoint(tablet) {
    padding-inline: 0;
    padding-block-start: rem(80);
    gap: rem(48);

    &__buttons {
      padding-inline: rem(10);
    }
  }

  @include breakpoint(desktop) {
    padding-block-start: rem(48);
    gap: rem(56);
  }
}
