@use '../util' as *;

.modal {
  &-backdrop {
    position: fixed;
    inset: 0;
    background-color: hsl(var(--clr-blue-950) / 0.65);
    z-index: 40;
    opacity: 0;
    transition: var(--transition);
  }

  &-enter {
    opacity: 1;

    .modal-wrapper {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &-exit {
    opacity: 0;

    .modal-wrapper {
      transform: translateY(20px) scale(0.95);
      opacity: 0;
    }
  }

  &-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }

  &-wrapper {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-black));
    border-radius: rem(15);
    width: 100%;
    max-width: rem(500);
    margin: rem(16);
    transform: translateY(20px) scale(0.95);
    opacity: 0;
    transition: var(--transition);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-block-end: rem(16);
    padding-inline: rem(23.14);
    padding-block-start: rem(18);
    padding-block-end: rem(16);
    border-bottom: rem(1) solid hsl(var(--clr-gray-200));
    color: hsl(var(--clr-blue-900));

    h2 {
      font-family: var(--ff-sans);
      font-size: rem(28);
      font-weight: 700;
      line-height: 125%;
    }
  }
}
