@use '../util' as *;

.timer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(80);
  text-align: center;
  padding-inline: rem(37.5);
}

.progress {
  &-wrapper {
    position: relative;
    margin: auto;
    height: auto;
    width: 100%;
    max-width: rem(410);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    &-outer {
      width: 100%;
      max-width: rem(410);
      padding: rem(16);
      margin: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      background-image: var(--gradient);
      box-shadow: rem(-50) rem(-50) rem(100) 0 #272c5a,
        rem(50) rem(50) rem(100) 0 #121530;

      @include breakpoint(tablet) {
        padding: rem(24);
      }
    }

    &-inner {
      background: hsl(var(--clr-blue-900));
      color: hsl(var(--clr-blue-900));
      padding: rem(8);
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;

      svg {
        height: auto;
      }
    }
  }
}

#clock {
  font-size: 2.5rem;
  color: hsl(var(--clr-white));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(80);
  line-height: 120%;
  letter-spacing: rem(-10);
}

circle {
  fill: none;
  stroke: var(--clr-primary);
  stroke-width: rem(8);
  stroke-dasharray: 1165;
  stroke-dashoffset: 550;
  stroke-linecap: round;
  animation: anim 1s ease forwards;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.35s ease-in-out;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 307.75;
  }
}
