@use '../util' as *;

.timer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(80);
  text-align: center;
}

.progress {
  &-wrapper {
    position: relative;
    margin: auto;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-container {
    &-outer {
      width: 100%;
      max-width: rem(410);
      padding: rem(16);
      margin: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      background-image: var(--gradient);
      box-shadow: rem(-50) rem(-50) rem(100) 0 #272c5a,
        rem(50) rem(50) rem(100) 0 #121530;

      // height: 400px;
      // width: 400px;
      /* border: 1px solid lightblue; */
      // box-shadow: -1px -1px 5px 0 rgb(8, 8, 8), 3px 3px 5px black;
      border-radius: 50%;
      padding: 30px;
    }

    &-inner {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // width: 100%;
      // height: 100%;
      background: hsl(var(--clr-blue-900));
      color: hsl(var(--clr-blue-900));
      // border-radius: 50%;
      // padding: rem(8);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 340px;
      width: 340px;
      border-radius: 50%;
    }
  }

  &-circular {
    position: relative;
    width: 100%;

    svg {
      max-width: 100%;
      height: auto;
    }

    .percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: rem(16);
    }
  }

  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.35s ease-in-out;
}

#clock {
  font-size: 2.5rem;
  color: lightyellow;
}

svg {
  position: absolute;
}

circle {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 30px;
  stroke-dasharray: 1165;
  stroke-dashoffset: 1165;
  stroke-linecap: round;
  animation: anim 1s ease forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 407.75;
  }
}
